body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/Background.jpg);
    background-size: 100%;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325dg,
        #03001e 0%,
        #7303c0 30%,
        #ec38cb 70%,
        #fdeff9 100%,
    );
    padding: 40px 60px;
}